<!doctype html>
<html lang="zh-CN" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>MyBricks-免费开放的无代码开发平台</title>
    <link rel="shortcut icon" href="./public/favicon.png" />

    <link rel="stylesheet" href="./public/antd-4.21.6/antd.min.css" />
    <link href="./css/theme.css" rel="stylesheet" type="text/css" />
    <link href="./css/global.css" rel="stylesheet" type="text/css" />
    <script>
      var _APP_CONFIG_ = {
        namespace: "mybricks-app-th5",
      };
    </script>
    <script src="./public/react-18.0.0/react.production.min.js"></script>
    <script src="./public/react-dom-18.0.0/react-dom.production.min.js"></script>
    <script src="./public/axios-0.18.1/axios.min.js"></script>
    <script src="./public/moment-2.9.1/moment.min.js"></script>
    <script src="./public/ant-design-icons/4.7.0/index.umd.min.js"></script>
    <script src="./public/antd-4.21.6/antd.min.js"></script>

    <!-- vue2相关代码 -->
    <script src="./public/vue/2.7.14/vue.min.js"></script>
    <script>
      window.Vue ? (window.vue = window.Vue) : null;
    </script>
    <script src="https://f2.beckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/vue-polyfill/0.0.6/vue2.js"></script>
    <!-- <script src="https://f2.beckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/vue-polyfill/0.0.6/vue3.js"></script> -->
    <!-- vue2相关代码 -->

    <!-- rxui -->
    <!-- <script src="./public/rxui.js"></script> -->

    <style>
      body {
        /* 禁止浏览器双指滑动前进后退事件 */
        overscroll-behavior: none;
      }
    </style>
  </head>
  <body>
    <div id="root" class="fangzhou-theme"></div>
  </body>
</html>
