<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,user-scalable=no,viewport-fit=cover" />

  <title>--title--</title>

  <style>
    @charset "utf-8";

    * {
      -webkit-tap-highlight-color: transparent
    }

    *::-webkit-scrollbar {
      display: none;
    }

    body,
    html {
      min-height: 100vh
    }

    body {
      -webkit-overflow-scrolling: touch;
      word-wrap: break-word;
      word-break: break-all;
      -webkit-user-select: none;
      user-select: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;

      font-size: 3.2vw;
    }

    a,
    blockquote,
    body,
    button,
    dd,
    div,
    dl,
    dt,
    fieldset,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    input,
    legend,
    li,
    ol,
    p,
    pre,
    td,
    textarea,
    th,
    ul {
      box-sizing: border-box;
      margin: 0;
      padding: 0
    }

    body,
    button,
    input,
    select,
    textarea {
      font: system-ui, -apple-system, BlinkMacSystemFont, 'PingFang SC', miui, Roboto, Helvetica Neue, Helvetica, sans-serif
    }

    button,
    input,
    optgroup,
    option,
    select,
    textarea {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      font: inherit;
      background: 0 0;
      border: 0;
      outline: 0;
      -webkit-appearance: none;
      appearance: none
    }

    a {
      text-decoration: none;
      cursor: pointer;
      -webkit-touch-callout: none
    }

    ol,
    ul {
      list-style: none
    }

    img {
      -webkit-touch-callout: none;
      transition: opacity .3s ease
    }

    img:not([src]),
    img[src=""] {
      opacity: 0
    }

    #root {
      min-height: 100vh;
      overflow-x: hidden;
      display: flex;
      flex-direction: column
    }
  </style>

  <% if (htmlWebpackPlugin.options.target == 'react') { %>
    <!-- react -->
    <script src="./public/react-18.0.0/react.production.min.js"></script>
    <script src="./public/react-dom-18.0.0/react-dom.production.min.js"></script>
    <!-- react -->
  <% } else if (htmlWebpackPlugin.options.target == 'vue2') { %>
    <!-- vue2相关代码 -->
    <script src="./public/vue/2.7.14/vue.min.js"></script>
    <script>
      window.Vue ? (window.vue = window.Vue) : null;
    </script>
    <!-- vue2相关代码 -->
  <% } else if (htmlWebpackPlugin.options.target == 'vue3') { %>
    <!-- vue3相关代码 -->
    <script src="./public/vue/3.2.33/vue.global.js"></script>
    <script>
      window.Vue ? (window.vue = window.Vue) : null;
    </script>
    <!-- vue3相关代码 -->
  <% } %>

  <!-- <script src="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690444304807.0.18.1_axios.min.js"></script> -->
  <script src="./public/plugin-http-connector/1.1.50/index.js"></script>
  <!-- <script src="https://f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/mybricks/rxui-1.0.86/index.js"></script> -->

  <!-- mybricks-render-web -->
  <% if (htmlWebpackPlugin.options.target == 'react') { %>
    <script src="./public/render-web/1.1.92-beta1/index.min.js"></script>
  <% } else if (htmlWebpackPlugin.options.target == 'vue2') { %>
    <script src="./public/render-web/vue2/index.umd.js"></script>
  <% } %>

  -- themes-style --

  -- head-tags --
</head>

<body>
  <div id="root"></div>
  -- comlib-rt --
</body>
</html>
