<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,user-scalable=no,viewport-fit=cover" />
  <link rel="dns-prefetch" href="//ali2.a.kwimgs.com">
  <link rel="dns-prefetch" href="//f2.eckwai.com">
  <link rel="dns-prefetch" href="//tx2.a.kwimgs.com">
  <link rel="dns-prefetch" href="//tx-ec.static.yximgs.com">
  <link rel="shortcut icon" href="//f2.eckwai.com/udata/pkg/fe/favicon.70ff1fcc.ico" type="image/x-icon" />

  <title>--title--</title>

  <!-- react -->
  <script src="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690446345009.react.18.0.0.production.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690446368294.umd_react-dom.18.0.0.production.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690444304807.0.18.1_axios.min.js"></script>

  <!-- mybricks-render-web -->
  <script src="//f2.beckwai.com/kos/nlav12333/mybricks/render-web/1.1.84/index.min.js"></script>

</head>

<body>
  <div id="root"></div>
  -- comlib-rt --
</body>
</html>
