<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
  <meta charset="UTF-8" />
  <title>MyBricks-免费开放的无代码开发平台</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="//lib.baomitu.com/antd/4.21.6/antd.min.css" />
  <link href="./css/global.css" rel="stylesheet" type="text/css" />
  <script src="//lib.baomitu.com/react/18.0.0/umd/react.production.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/react-dom@18.0.0/umd/react-dom.production.min.js"></script>
  <script src="//lib.baomitu.com/axios/0.18.1/axios.min.js"></script>
  <script src="//lib.baomitu.com/moment.js/2.29.4/moment.min.js"></script>
  <script src="//lib.baomitu.com/ant-design-icons/4.7.0/index.umd.min.js"></script>
  <script src="//lib.baomitu.com/antd/4.21.6/antd.min.js"></script>
</head>

<body class="fangzhou-theme">
  <div id="root"></div>
</body>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d2ecca39b1c8b9e556bc0051744065bf";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</html>